<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.gms.dao.AccountMapper">

    <select id="getTeacherByUserId" resultType="com.gms.gms.domain.Teacher">
        select * FROM teacher where USER_ID = #{userId}
    </select>
    <select id="getStudentByUserId" resultType="com.gms.gms.domain.Student">
        select * FROM student where USER_ID = #{userId}
    </select>
    <select id="getTeachingOfficeByUserId" resultType="com.gms.gms.domain.TeachingOffice">
        select * FROM teaching_office where USER_ID = #{userId}
    </select>
    <select id="getSecretaryByUserId" resultType="com.gms.gms.domain.Secretary">
        select * FROM secretary where USER_ID = #{userId}
    </select>
    <select id="selectAllTeacher" resultType="com.gms.gms.domain.Teacher">
        SELECT
            `user`.REAL_NAME,
            `user`.GENDER,
            `user`.TEL,
            `user`.MAIL,
            teacher.TITLE,
            college.COLLEGE_NAME,
            teacher.HOME_PAGE
        FROM
            teacher
                JOIN `user` ON teacher.USER_ID = `user`.USER_ID
                JOIN college ON teacher.COLLEGE_ID = college.COLLEGE_ID
    </select>
    <select id="selectAllStudent" resultType="com.gms.gms.domain.Student">
        SELECT
            `user`.REAL_NAME,
            `user`.GENDER,
            `user`.TEL,
            `user`.MAIL,
            college.COLLEGE_NAME,
            major.MAJOR_NAME,
            class.CLASS_NAME
        FROM
            student
                JOIN `user` ON student.USER_ID = `user`.USER_ID
                JOIN college ON student.COLLEGE_ID = college.COLLEGE_ID
                JOIN major ON student.MAJOR_ID = major.MAJOR_ID
                JOIN class ON student.CLASS_ID = class.CLASS_ID
                JOIN plea_application ON student.STU_ID = plea_application.STU_ID
        WHERE
            plea_application.`STATUS` = 'YTG'
          AND plea_application.STAGE = #{stage}
    </select>
    <select id="selectAllTeacherId" resultType="java.lang.Integer">
        SELECT
            teacher.TEACHER_ID
        FROM
            teacher
    </select>
    <select id="selectAllSecretaryId" resultType="java.lang.Integer">
        SELECT
            secretary.SEC_ID
        FROM
            secretary
    </select>
    <insert id="addTeacherTeam">
        INSERT INTO acceptance_team ( SEC_ID, STAGE )
        VALUES(
            #{team.secId},
            #{team.stage})
    </insert>
    <select id="selectMaxTeacherTeam" resultType="java.lang.Integer">
        SELECT
            MAX( acceptance_team.TEAM_ID )
        FROM
            acceptance_team
    </select>
    <insert id="addTeacherTeamMember">
        INSERT INTO acceptance_teacher ( TEACHER_ID, TEAM_ID, IS_LEADER )
        VALUES(
            #{id},
            #{group},
            #{b})
    </insert>
</mapper>