<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.gms.dao.FileStorageMapper">

    <select id="selectAllFiles" resultType="com.gms.gms.domain.FileStorage">
        SELECT * FROM file_storage
    </select>

    <select id="selectByDocIdAndFileId" resultType="com.gms.gms.domain.FileStorage">
        SELECT * FROM file_storage
        WHERE (DOC_ID = #{docId} AND FILE_ID = #{fileId});
    </select>

    <select id="selectByDocId" resultType="com.gms.gms.domain.FileStorage">
        SELECT * FROM file_storage
        WHERE (DOC_ID = #{docId});
    </select>
</mapper>
