<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.gms.dao.StageTaskMapper">

    <select id="getStageTask" resultMap="StageTaskMap">
        SELECT st.SUB_ID,
               st.TASK_ID,
               st.TASK_NAME,
               st.DESCRIPTION,
               st.TEACHER_ID,
               u1.REAL_NAME AS TEACHER_NAME,
               st.STU_ID,
               u2.REAL_NAME AS STUDENT_NAME,
               st.START_TIME,
               st.END_TIME,
               f.DOC_ID,
               f.FILE_ID,
               f.FILE_NAME
        FROM stage_task st
                 JOIN teacher t ON (t.TEACHER_ID = st.TEACHER_ID)
                 JOIN USER u1 ON (u1.USER_ID = t.USER_ID)
                 JOIN student s ON (s.STU_ID = st.STU_ID)
                 JOIN USER u2 ON (u2.USER_ID = s.USER_ID)
                 LEFT JOIN file_storage f ON (
            f.DOC_ID = st.DOC_ID)

    </select>
    <select id="getStageTaskAsTeacher" resultType="com.gms.gms.domain.StageTask">
        SELECT
            st.TASK_ID,
            st.TASK_NAME,
            st.SUB_ID,
            st.DESCRIPTION,
            st.TEACHER_ID,
            u1.REAL_NAME AS TEACHER_NAME,
            st.STU_ID,
            u2.REAL_NAME AS STUDENT_NAME,
            st.START_TIME,
            st.END_TIME,
            f.DOC_ID,
            f.FILE_ID,
            f.FILE_NAME
        FROM
            stage_task st
                JOIN teacher t ON ( t.TEACHER_ID = st.TEACHER_ID )
                JOIN USER u1 ON ( u1.USER_ID = t.USER_ID )
                JOIN student s ON ( s.STU_ID = st.STU_ID )
                JOIN USER u2 ON ( u2.USER_ID = s.USER_ID )
                LEFT JOIN file_storage f ON (
                f.DOC_ID = st.DOC_ID)
        WHERE t.TEACHER_ID=#{teacherId}
        <if test="task.subId != null and task.subId != ''">
            AND st.SUB_ID=1
        </if>
        <if test="task.stuId != null and task.stuId != ''">
            AND st.STU_ID=1
        </if>
    </select>
    <select id="getStageTaskAsStudent" resultType="com.gms.gms.domain.StageTask">
        SELECT st.TASK_ID,
               st.TASK_NAME,
               st.DESCRIPTION,
               st.TEACHER_ID,
               u1.REAL_NAME AS TEACHER_NAME,
               st.STU_ID,
               u2.REAL_NAME AS STUDENT_NAME,
               st.START_TIME,
               st.END_TIME,
               f.DOC_ID,
               f.FILE_ID,
               f.FILE_NAME
        FROM stage_task st
                 JOIN teacher t ON (t.TEACHER_ID = st.TEACHER_ID)
                 JOIN USER u1 ON (u1.USER_ID = t.USER_ID)
                 JOIN student s ON (s.STU_ID = st.STU_ID)
                 JOIN USER u2 ON (u2.USER_ID = s.USER_ID)
                 LEFT JOIN file_storage f ON (
            f.DOC_ID = st.DOC_ID)
    </select>


    <resultMap id="StageTaskMap" type="com.gms.gms.domain.StageTask">
        <result column="SUB_ID" property="subId" jdbcType="VARCHAR"/>
        <result column="TASK_ID" property="taskId" jdbcType="INTEGER"/>
        <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="TEACHER_ID" property="teacherId" jdbcType="INTEGER"/>
        <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR"/>
        <result column="STU_ID" property="stuId" jdbcType="INTEGER"/>
        <result column="STUDENT_NAME" property="studentName" jdbcType="VARCHAR"/>
        <result column="START_TIME" property="startTime" jdbcType="DATE"/>
        <result column="END_TIME" property="endTime" jdbcType="DATE"/>
        <collection property="fileStorage" ofType="com.gms.gms.domain.FileStorage">
            <result column="DOC_ID" property="docId"/>
            <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR"/>
            <result column="FILE_ID" property="fileId" jdbcType="INTEGER"/>
        </collection>
    </resultMap>
</mapper>
