<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.gms.dao.ThesisMapper">

    <resultMap id="ZJYSB" type="com.gms.gms.domain.Thesis">
        <id property="thesisId" column="THESIS_ID"/>
        <result property="docId" column="DOC_ID"/>
        <result property="stuId" column="STU_ID"/>
        <result property="poseTime" column="POSE_TIME"/>
        <result property="status" column="STATUS"/>
        <result property="score" column="SCORE"/>
        <collection property="fileStorages" column="DOC_ID"
                    select="com.gms.gms.dao.ThesisMapper.selectByDocId"/>
    </resultMap>
    <resultMap id="ZJYSB2" type="com.gms.gms.domain.Thesis" extends="ZJYSB">
        <association property="student" column="STU_ID"
                     select="com.gms.gms.dao.ThesisMapper.selectStudentById"/>
    </resultMap>

    <select id="getMyThesis" resultMap="ZJYSB">
        SELECT
            thesis.THESIS_ID,
            thesis.DOC_ID,
            thesis.`STATUS`,
            thesis.POSE_TIME
        FROM
            thesis
        WHERE
            thesis.STU_ID = #{stuId}
    </select>
    <select id="selectByDocId" resultType="com.gms.gms.domain.FileStorage">
        SELECT
            file_storage.FILE_ID,
            file_storage.FILE_NAME
        FROM
            file_storage
        WHERE
            file_storage.DOC_ID = #{docId};
    </select>
    <select id="getStuThesis" resultMap="ZJYSB2">
        SELECT
            thesis.THESIS_ID,
            thesis.DOC_ID,
            thesis.STU_ID,
            thesis.POSE_TIME,
            thesis.`STATUS`,
            thesis.SCORE
        FROM
            thesis
        WHERE
            thesis.STU_ID IN (
            SELECT
                applied_subject.STU_ID
            FROM
                applied_subject
            WHERE
                applied_subject.SUB_ID IN ( SELECT `subject`.SUB_ID FROM `subject` WHERE `subject`.POSE_BY = #{teacherId} )
                AND applied_subject.`STATUS` = 'YTG')
    </select>
    <select id="selectStudentById" resultType="com.gms.gms.domain.Student">
        SELECT
            `user`.USER_ID,
            `user`.REAL_NAME,
            `user`.GENDER,
            `user`.TEL,
            `user`.MAIL,
            college.COLLEGE_NAME,
            major.MAJOR_NAME,
            class.CLASS_NAME
        FROM
            student
                JOIN `user` ON student.USER_ID = `user`.USER_ID
                JOIN college ON student.COLLEGE_ID = college.COLLEGE_ID
                JOIN major ON student.MAJOR_ID = major.MAJOR_ID
                JOIN class ON student.CLASS_ID = class.CLASS_ID
        WHERE
            student.STU_ID = #{stuId}
    </select>
</mapper>
