<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.system.dao.MessageMapper">

    <select id="getMessage" resultType="com.gms.system.domain.Message">
        SELECT
        message.MESSAGE_ID,
        message.FROM_ID,
        `user`.REAL_NAME,
        message.TITLE,
        message.DETAIL,
        message.TYPE,
        message.CREAT_TIME
        FROM
        message
        JOIN `user` ON message.FROM_ID = `user`.USER_ID
        WHERE
        message.TO_ID = #{userId}
        ORDER BY
        message.CREAT_TIME DESC
    </select>
    <select id="getStudentUserId" resultType="java.lang.Integer">
        SELECT
            student.USER_ID
        FROM
            student
        WHERE
                student.STU_ID IN (
                SELECT
                    stu_group.STU_ID
                FROM
                    stu_group
                WHERE
                    stu_group.GROUP_ID IN ( SELECT plea.STU_GROUP_ID FROM plea WHERE plea.STAGE = #{stage} )
                    AND stu_group.STAGE = #{stage} )
    </select>
    <select id="getTeacherUserId" resultType="java.lang.Integer">
        SELECT
            teacher.USER_ID
        FROM
            teacher
        WHERE
                teacher.TEACHER_ID IN (
                SELECT
                    acceptance_teacher.TEACHER_ID
                FROM
                    acceptance_teacher
                WHERE
                        acceptance_teacher.TEAM_ID IN ( SELECT plea.ACCEPTANCE_TEAM_ID FROM plea WHERE plea.STAGE = 'XT' ))
    </select>
    <select id="getSecretaryUserId" resultType="java.lang.Integer">
        SELECT
            secretary.USER_ID
        FROM
            secretary
        WHERE
                secretary.SEC_ID IN (
                SELECT
                    acceptance_team.SEC_ID
                FROM
                    acceptance_team
                WHERE
                        acceptance_team.TEAM_ID = ( SELECT plea.ACCEPTANCE_TEAM_ID FROM plea WHERE plea.STAGE = 'XT' )
            )
    </select>
    <select id="getUserIdByStuId" resultType="java.lang.Integer">
        SELECT
            USER_ID
        FROM
            student
        WHERE
            STU_ID = #{id}
    </select>
    <select id="getAllTeacherUserId" resultType="java.lang.Integer">
        SELECT
            teacher.USER_ID
        FROM
            teacher
    </select>
    <select id="countThesisGroupIsRelease" resultType="java.lang.Integer">
        SELECT
            COUNT(thesis_teacher.IS_RELEASE)
        FROM
            thesis_teacher
        WHERE
            thesis_teacher.IS_RELEASE = '1'
    </select>
    <select id="getTeacherUserIdThesis" resultType="java.lang.Integer">
        SELECT
            teacher.USER_ID
        FROM
            teacher
        WHERE
                teacher.TEACHER_ID IN (
                SELECT DISTINCT
                    thesis_teacher.TEACHER_ID
                FROM
                    thesis_teacher
                WHERE
                    thesis_teacher.IS_RELEASE = '1')
    </select>
    <select id="countScore" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            thesis_teacher
        WHERE
                thesis_teacher.THESIS_ID = ( SELECT thesis_teacher.THESIS_ID FROM thesis_teacher WHERE thesis_teacher.ID = #{id} )
          AND thesis_teacher.SCORE = '-1'
    </select>
    <update id="setScore">
        UPDATE thesis
        SET thesis.`STATUS` = 'YCF',
            thesis.SCORE =(
                SELECT
                    AVG( thesis_teacher.SCORE )
                FROM
                    thesis_teacher
                WHERE
                    thesis_teacher.THESIS_ID = #{thesisId}
            )
        WHERE
            thesis.THESIS_ID = #{thesisId}
    </update>
    <select id="selectThesis" resultType="com.gms.gms.domain.Thesis">
        SELECT
            thesis.THESIS_ID,
            student.USER_ID
        FROM
            thesis_teacher,
            thesis,
            student
        WHERE
            thesis_teacher.ID = #{id}
          AND thesis_teacher.THESIS_ID = thesis.THESIS_ID
          AND thesis.STU_ID = student.STU_ID
    </select>
    <select id="getUserIdBySubID" resultType="java.lang.Integer">
        SELECT
            teacher.USER_ID
        FROM
            teacher,
            `subject`
        WHERE
            `subject`.SUB_ID = #{subId}
          AND `subject`.POSE_BY = teacher.TEACHER_ID
    </select>
</mapper>
