<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.system.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.gms.system.domain.User">
        <id column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="SSEX" jdbcType="CHAR" property="gender"/>
    </resultMap>
    <select id="findUserDetail" resultType="user" parameterType="user">
        SELECT
        u.USER_ID,
        u.REAL_NAME,
        u.USERNAME,
        u.PASSWORD,
        u.MAIL,
        u.TEL,
        u.GENDER,
        GROUP_CONCAT(r.role_id) roleId,
        GROUP_CONCAT(r.ROLE_NAME) roleName
        FROM
        user u
        LEFT JOIN user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN role r ON r.role_id = ur.role_id
        WHERE 1 = 1
        <if test="user.username != null and user.username != ''">
            AND u.USERNAME = #{user.username}
        </if>

        <if test="user.ssex != null and user.ssex != ''">
            AND u.GENDER = #{user.gender}
        </if>
        group by u.username,
            u.USER_ID,
            u.REAL_NAME,
            u.MAIL,
            u.TEL,
            u.GENDER
    </select>

    <select id="findDetail" resultType="user" parameterType="string">
        SELECT
        u.USER_ID,
        u.REAL_NAME,
        u.USERNAME,
        u.PASSWORD,
        u.MAIL,
        u.TEL,
        u.GENDER,
        GROUP_CONCAT(r.ROLE_ID) roleId,
        GROUP_CONCAT(r.ROLE_NAME) roleName
        FROM
        user u
        LEFT JOIN user_role ur ON (u.USER_ID = ur.USER_ID)
        LEFT JOIN role r ON r.ROLE_ID = ur.ROLE_ID
        WHERE  u.username = #{username}
        group by u.username,
            u.USER_ID,
            u.password,
            u.MAIL,
            u.TEL,
            u.GENDER
    </select>
</mapper>