/*全局样式表*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    overflow-x:hidden !important;
    overflow-y:hidden !important;
}
/*面包屑导航区下方设置一个间隔*/
.el-breadcrumb{
    margin-bottom: 20px;
    font-size: 13px;
}
/*设置卡片阴影*/
.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
