/*全局样式表*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    overflow-x:hidden !important;
    overflow-y:hidden !important;
}
/*面包屑导航区下方设置一个间隔*/
.el-breadcrumb{
    margin-bottom: 20px;
    font-size: 13px;
}
/*设置卡片阴影*/
.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table{
    margin-top: 15px;
    font-size: 12px;
}
/*覆盖ant-design-vue 输入、选中框禁用时样式**/
.ant-input[disabled] {
    color: rgba(0, 0, 0, 1) !important;
    background-color: #FFFFFF !important;
}

.ant-select-disabled {
    color: rgba(0, 0, 0, 1) !important;
    background-color: #FFFFFF !important;
}
.ant-select-disabled .ant-select-selection {
    background: #f9f9f9;
    cursor: not-allowed;
}
